body{
    background-color: #ebeff5;
}

#total-hardwares{
    background-color: #4cb4c7;
}

#total-softwares{
    background-color: #7abecc
}

#total-devices{
    background-color: #7cd1c0;
}

.head {
    font-size: 20pt;
    text-align: center;
    letter-spacing: 0.6em;
    margin-top: 10px;
}

.sized{
    max-width: 120px;
}

.rm-link{
    text-decoration: none;
    color: #78aed3;
}

.btn-soft{
    border-radius: 5px;
    color: #fff;
    background-color: #3a98e3;
}

.card-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_name, #id_price, #id_category {
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(235, 239, 240, 0.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #fdfdfd;
	color:#222629;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}