<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-devices">
                <div class="card-header">
                    <h5 class="card-title">Total Devices</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_devices}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hardwares">
                <div class="card-header">
                    <h5 class="card-title">Total Hardwares</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_hardwares}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-softwares">
                <div class="card-header">
                    <h5 class="card-title">Total Softwares</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_softwares}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>